@import 'scss/libs/mixins.scss';
@import 'scss/libs/variables.scss';

.actions {
	display: flex;
	justify-content: space-between;
}

.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;

	@media (max-width: 992px) {
		width: 70px;
	}

	@media (max-width: 480px) {
		width: 40px;
	}
}

.badge {
	@include text-styles(30px, 400, $orange);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease-out;

	&:hover {
		color: #fff;
		background-color: $orange;
	}

	&:active {
		opacity: 0.8;
	}
}

.minus {
	padding-bottom: 4px;

	@media (max-width: 767px) {
		padding-bottom: 1px;
	}
}

.count {
	@include text-styles(30px, 600, $black);
}

i {
	@include text-styles(25px, 600, $darkGrey);

	cursor: pointer;
	display: block;
	transition: all 0.3s ease-out;

	&:hover {
		transform: scale(1.2);
	}

	&:active {
		opacity: 0.8;
	}
}