@import 'scss/libs/mixins.scss';
@import 'scss/libs/variables.scss';

.tips {
	padding: $smallMargin 0 $smallMargin 0;
	background-color: $peach;
}

.block {
	display: block;
}

.title {
	@include text-styles(40px, 700, $black);
	text-align: center;
}