@import 'scss/libs/mixins.scss';
@import 'scss/libs/variables.scss';

.products {
	padding: $bigMargin 0 $bigMargin 0;
	background-color: #fff;

	@media (max-width: 767px) {
		padding: $smallMargin 0 $smallMargin 0;
	}
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	@include text-styles(40px, 700, $black);

	text-align: center;
}



