@import 'scss/libs/mixins.scss';
@import 'scss/libs/variables.scss';

.user {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.item {
	position: relative;
	transition: all 0.5s ease-out;

	&:not(:first-child) {
		margin-left: 10px;
	}

	&:hover {
		.icon {
			path {
				transition: all 0.1s ease-out;
				fill: $red;
			}
		}
	}

	&:active {
		.icon {
			path {
				opacity: 0.8;
			}
		}
	}
}

.icon {
	display: block;

	@media (max-width: 767px) {
		width: 20px;
		height: 20px;
	}

	@media (max-width: 480px) {
		width: 18px;
		height: 18px;
	}
}

.count {
	@include text-styles(0.8rem, 400, $white);

	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 20px;
	height: 20px;
	background-color: $red;
	border-radius: 50%;
	transition: all 0.5s ease-out;

	@media (max-width: 767px) {
		width: 17px;
		height: 17px;
		top: -12px;
		right: -12px;
	}

	@media (max-width: 480px) {
		width: 15px;
		height: 15px;
		top: -10px;
		right: -10px
	}
}

.burger {
	display: flex;
}