@import './libs/mixins.scss';
@import './libs/null.scss';
@import './libs/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	height: 100%;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 0 15px 0 15px;
	max-width: $containerWidth;
	margin: 0 auto;
}