@import 'scss/libs/mixins.scss';
@import 'scss/libs/variables.scss';

.footer {
	padding: 0 0 20px 0;
	background-color: #fff;
}

.info {
	display: block;
}

.text {
	@include text-styles(16px, 400, $black);
	max-width: 300px;
	margin-top: 10px;

	@media (max-width: 767px) {
		display: none;
	}
}

.block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $grey;
	padding-top: 20px;
}

.list {
	display: flex;

	@media (max-width: 480px) {
		display: none;
	}
}

.item {
	&:not(:first-child) {
		margin-left: 10px;
	}
}

.link {
	@include text-styles(1rem, 500, $black);

	transition: all 0.3s ease-out;
	cursor: pointer;

	&:hover {
		color: $red;
	}

	&:active {
		opacity: 0.8;
	}
}

.title {
	@include text-styles(26px, 500, $black);
}

.form {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.input {
	@include text-styles(16px, 400, $darkGrey);

	background: #F4F5F7;
	width: 242px;
	height: 45px;
	padding-left: 10px;

	@media (max-width: 992px) {
		width: 200px;
		height: 35px;
	}

	@media (max-width: 767px) {
		width: 150px;
		height: 25px;
	}
}

.button {
	background-color: $orange;
	width: 45px;
	height: 45px;
	margin-left: 5px;
	transition: all 0.3s ease-out;

	&:hover {
		background-color: $red;
	}

	&:active {
		opacity: 0.8;
	}

	
	@media (max-width: 992px) {
		width: 35px;
		height: 35px;
	}

	@media (max-width: 767px) {
		svg {
			width: 12px;
			height: 12px;
		}
		width: 25px;
		height: 25px;
	}
}